<footer class="site-footer small--text-center" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div class="wrapper">
    <div class="menu">
      <h4 class="list_title">{{ linklists[section.settings.footer_link_list].title }}</h4>
      <ul>
        {% for link in linklists[section.settings.footer_link_list].links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>          
          </li>
        {% endfor %}      
      </ul>      
    </div>

    <div class="menu">
      <h4 class="list_title">{{ linklists[section.settings.footer_link_list2].title }}</h4>
      <ul>
        {% for link in linklists[section.settings.footer_link_list2].links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>          
          </li>
        {% endfor %}      
      </ul>      
    </div>

    <div class="menu">
      <h4 class="list_title">{{ linklists[section.settings.footer_link_list3].title }}</h4>
      <ul>
        {% for link in linklists[section.settings.footer_link_list3].links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>          
          </li>
        {% endfor %}      
      </ul>      
    </div>

  </div>
  <div class="small_footer">
    <p class="copyright">{{ section.settings.copyright }}</p>
    <ul class="credit_cards">
      <li class="cc">
        <img src="{{ section.settings.card_1 | img_url: 'small' }}" alt="{{ section.settings.card_1 }}">
      </li>
      <li class="cc">
        <img src="{{ section.settings.card_2 | img_url: 'small'}}" alt="{{ section.settings.card_2 }}">
      </li>
      <li class="cc">
        <img src="{{ section.settings.card_3 | img_url: 'small'}}" alt="{{ section.settings.card_3 }}">
      </li>
    </ul>
  </div>
</footer>




{% schema %}
{
  "name": {
    "cs": "Zápatí",
    "da": "Sidefod",
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fi": "Alatunniste",
    "fr": "Pied de page",
    "hi": "फुटर",
    "it": "Footer",
    "ja": "フッター",
    "ko": "바닥글",
    "nb": "Footer",
    "nl": "Voettekst",
    "pl": "Stopka",
    "pt-BR": "Rodapé",
    "pt-PT": "Rodapé",
    "sv": "Sidfot",
    "th": "ส่วนท้าย",
    "tr": "Altbilgi",
    "vi": "Chân trang",
    "zh-CN": "页脚",
    "zh-TW": "頁尾"
  },
  "settings": [
    {
      "type": "header",
      "content": {
        "cs": "Nabídka",
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "hi": "मेनू",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "tr": "Menü",
        "vi": "Menu",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      }
    },
    {
      "type": "link_list",
      "id": "footer_link_list",
      "label": {
        "cs": "Nabídka v zápatí",
        "da": "Sidefodsmenu",
        "de": "Fußzeilenmenü",
        "en": "Footer menu",
        "es": "Menú inferior",
        "fi": "Alatunniste-valikko",
        "fr": "Menu pied de page",
        "hi": "फुटर मेनू",
        "it": "Menu footer",
        "ja": "フッターメニュー",
        "ko": "바닥글 메뉴",
        "nb": "Bunntekstmeny",
        "nl": "Voettekstmenu",
        "pl": "Menu stopki",
        "pt-BR": "Menu de rodapé",
        "pt-PT": "Menu do rodapé",
        "sv": "Sidfotsmeny",
        "th": "เมนูส่วนท้าย",
        "tr": "Altbilgi menüsü",
        "vi": "Menu chân trang",
        "zh-CN": "页脚菜单",
        "zh-TW": "頁尾選單"
      },
      "default": "footer"
    },
    {
      "type": "link_list",
      "id": "footer_link_list2",
      "label": {
        "cs": "Nabídka v zápatí",
        "da": "Sidefodsmenu",
        "de": "Fußzeilenmenü",
        "en": "Footer menu 2",
        "es": "Menú inferior",
        "fi": "Alatunniste-valikko",
        "fr": "Menu pied de page",
        "hi": "फुटर मेनू",
        "it": "Menu footer",
        "ja": "フッターメニュー",
        "ko": "바닥글 메뉴",
        "nb": "Bunntekstmeny",
        "nl": "Voettekstmenu",
        "pl": "Menu stopki",
        "pt-BR": "Menu de rodapé",
        "pt-PT": "Menu do rodapé",
        "sv": "Sidfotsmeny",
        "th": "เมนูส่วนท้าย",
        "tr": "Altbilgi menüsü",
        "vi": "Menu chân trang",
        "zh-CN": "页脚菜单",
        "zh-TW": "頁尾選單"
      },
      "default": "footer"
    },
    {
      "type": "link_list",
      "id": "footer_link_list3",
      "label": {
        "cs": "Nabídka v zápatí",
        "da": "Sidefodsmenu",
        "de": "Fußzeilenmenü",
        "en": "Footer menu 3",
        "es": "Menú inferior",
        "fi": "Alatunniste-valikko",
        "fr": "Menu pied de page",
        "hi": "फुटर मेनू",
        "it": "Menu footer",
        "ja": "フッターメニュー",
        "ko": "바닥글 메뉴",
        "nb": "Bunntekstmeny",
        "nl": "Voettekstmenu",
        "pl": "Menu stopki",
        "pt-BR": "Menu de rodapé",
        "pt-PT": "Menu do rodapé",
        "sv": "Sidfotsmeny",
        "th": "เมนูส่วนท้าย",
        "tr": "Altbilgi menüsü",
        "vi": "Menu chân trang",
        "zh-CN": "页脚菜单",
        "zh-TW": "頁尾選單"
      },
      "default": "footer"
    },
    {
      "type": "header",
      "content": {
        "en": "Small Footer"
      }
    },
    {
      "type": "text",
      "id": "copyright",
      "label": {
        "en": "Copyright statement"
      },
      "default": "© 2014 ELLA Fashion Store Shopify. All Rights Reserved. Ecommerce Software by Shopify."
    },
    {
      "type": "image_picker",
      "id": "card_1",
      "label": {
        "en": "Credit Card 1"
      }
    },
    {
      "type": "image_picker",
      "id": "card_2",
      "label": {
        "en": "Credit Card 2"
      }
    },
    {
      "type": "image_picker",
      "id": "card_3",
      "label": {
        "en": "Credit Card 3"
      }
    }
  ]
}
{% endschema %}
