{%- style -%}
  {%- assign logo_max_width = section.settings.logo_max_width -%}
  {%- assign middle_bar_bg = section.settings.middle_bar_bg -%}
  {%- assign bottom_bar_bg = section.settings.bottom_bar_bg -%}
  {%- assign bottom_bar_text_color = section.settings.bottom_bar_text_color -%}
  {%- assign bottom_bar_text_color_hover = section.settings.bottom_bar_text_color_hover -%}

  .site-header__logo img {
    width: {{ logo_max_width | append: 'px' }};
  }

  @media screen and (max-width: 768px) {
    .site-header__logo img {
      max-width: 100%;
    }
  }

  .middle-bar {
    background-color: {{ middle_bar_bg }};
  }

  .site-header {
    background-color: {{ bottom_bar_bg }};
  }

  .site-header__logo-link {
    color: {{ bottom_bar_text_color }};    
  }

  .site-nav--open.site-nav--mobile.site-nav--init > .icon-fallback-text > span {
    background-color: {{ bottom_bar_text_color }};
  }

  .site-header__logo-link:hover {
    color: {{ bottom_bar_text_color_hover }};    
  }

  #AccessibleNav > .site-nav__item > .site-nav__link {
    color: {{ bottom_bar_text_color }};
  }

  #AccessibleNav > .site-nav__item > .site-nav__link:hover {
    color: {{ bottom_bar_text_color_hover }};
  }

  .top-nav > .site-nav__item > .site-nav__link:hover {
    color: {{ bottom_bar_text_color_hover }};
  }

{%- endstyle -%}
<div data-section-id="{{ section.id }}" data-section-type="header-section" data-template="{{ request.page_type }}">
  <div id="NavDrawer" class="drawer drawer--left">
    {% include 'drawer-menu' %}
  </div>
  <div class="header-container drawer__header-container">
    <div class="header-wrapper" data-header-wrapper>
      {% if section.settings.show_announcement %}
        <style>
          .announcement-bar {
            background-color: {{ section.settings.color_bg }};
          }

          .announcement-bar--link:hover {
            {% assign brightness = section.settings.color_bg | color_brightness %}

            {% if brightness <= 192 %}
              {% assign lightenAmount = 255 | minus: brightness | divided_by: 255 | times: 16 %}
              background-color: {{ section.settings.color_bg | color_lighten: lightenAmount }};
            {% else %}
              {% assign darkenAmount = 255 | divided_by: brightness | times: 8 %}
              background-color: {{ section.settings.color_bg | color_darken: darkenAmount }};
            {% endif %}
          }

          .announcement-bar__message, .top-nav > .site-nav__item > .site-nav__link {
            color: {{ section.settings.color_text }};
          }
        </style>
        <div class="announcement-bar">
          <div class="content">
            <p class="announcement-bar__message">{{ section.settings.text | escape }}</p>

            <ul class="top-nav">
              {% if shop.customer_accounts_enabled %}
                <li class="site-nav__item site-nav__expanded-item site-nav__item--compressed">
                  <a class="site-nav__link site-nav__link--icon" href="{{ routes.account_url }}">
                    <span class="icon-fallback-text">
                      <!-- <span class="icon icon-customer" aria-hidden="true"></span> -->
                      <p>My Account</p>
                      <span class="fallback-text">
                        {% if customer %}
                          {{ 'layout.customer.account' | t }}
                        {% else %}
                          {{ 'layout.customer.log_in' | t }}
                        {% endif %}
                      </span>
                    </span>
                  </a>
                </li>
              {% endif %}




              <li class="site-nav__item site-nav__item--compressed">
                <a href="{{ routes.cart_url }}" class="site-nav__link site-nav__link--icon cart-link js-drawer-open-button-right" aria-controls="CartDrawer">
                  <span class="icon-fallback-text">
                    <div class="my-cart">
                      <span class="icon icon-cart" aria-hidden="true"></span>
                      <p>My Cart</p>
                      <p>
                        {% if cart.item_count > 0 %}
                          {{ cart.item_count }}
                        {% endif %}
                      </p>                      
                    </div>
                    <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
                  </span>
                  <span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}"></span>
                </a>
              </li>
            </ul>              
          </div>
        </div>

        {% if section.settings.drawer_search_enable %}
          <div class="middle-bar">
            <li class="site-nav__item site-nav--search__bar medium-down--hide">
              {% include 'search-bar', search_btn_style: 'btn', search_bar_location: 'search-bar--header' %}
            </li>
          </div>          
        {% endif %}
      {% endif %}

      <header class="site-header" role="banner">
        <div class="wrapper">
          <div class="grid--full grid--table">
            <div class="grid__item large--hide large--one-sixth one-quarter">
              <div class="site-nav--open site-nav--mobile">
                <button type="button" class="icon-fallback-text site-nav__link site-nav__link--burger js-drawer-open-button-left" aria-controls="NavDrawer">
                  <span class="burger-icon burger-icon--top"></span>
                  <span class="burger-icon burger-icon--mid"></span>
                  <span class="burger-icon burger-icon--bottom"></span>
                  <span class="fallback-text">{{ 'general.drawers.navigation' | t }}</span>
                </button>
              </div>
            </div>
            <div class="grid__item large--one-third medium-down--one-half">
              {% comment %}
                Use the uploaded logo from theme settings if enabled.
                Site name gets precedence with H1 tag on homepage, div on other pages.
              {% endcomment %}
              {% if request.page_type == 'index' %}
                <h1 class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
              {% else %}
                <div class="h1 site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
              {% endif %}
                {% capture image_size %}{{ logo_max_width | escape }}x{% endcapture %}

                <a href="{{ routes.root_url }}" itemprop="url" class="site-header__logo-link">
                  {% if section.settings.logo %}
                    <img class="site-header__logo-image" src="{{ section.settings.logo | img_url: image_size }}" srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x" alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo">
                  {% else %}
                    {{ shop.name }}
                  {% endif %}
                </a>
              {% if request.page_type == 'index' %}
                </h1>
              {% else %}
                </div>
              {% endif %}
            </div>
            <nav class="grid__item large--two-thirds large--text-right medium-down--hide" role="navigation">
              {% comment %}
                List out your main-menu linklist (default)

                More info on linklists:
                  - http://docs.shopify.com/themes/liquid-variables/linklists
              {% endcomment %}
              <!-- begin site-nav -->
              <ul class="site-nav" id="AccessibleNav">
                {% for link in linklists[section.settings.main_menu_link_list].links %}
                  {% if link.links != blank %}
                  {% assign parent_index = forloop.index %}
                    <li
                      class="site-nav__item site-nav--has-dropdown {% if link.active %}site-nav--active{% endif %}"
                      aria-haspopup="true"
                      data-meganav-type="parent">
                      <a
                        href="{{ link.url }}"
                        class="site-nav__link"
                        data-meganav-type="parent"
                        aria-controls="MenuParent-{{ parent_index }}"
                        aria-expanded="false"
                        {% unless request.page_type == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless%}>
                          {{ link.title | escape }}
                          <span class="icon icon-arrow-down" aria-hidden="true"></span>
                      </a>
                      <ul
                        id="MenuParent-{{ parent_index }}"
                        class="site-nav__dropdown {% if link.levels == 2 %}site-nav--has-grandchildren{% endif %}"
                        data-meganav-dropdown>
                        {% for childlink in link.links %}
                          {% if childlink.links != blank %}
                          {% assign child_index = forloop.index %}
                            <li
                              class="site-nav__item site-nav--has-dropdown site-nav--has-dropdown-grandchild {% if childlink.active %}site-nav--active{% endif %}"
                              aria-haspopup="true">
                              <a
                                href="{{ childlink.url }}"
                                class="site-nav__dropdown-link"
                                aria-controls="MenuChildren-{{ parent_index }}-{{ child_index }}"
                                data-meganav-type="parent"
                                {% unless request.page_type == 'index' %}{% if childlink.active %}aria-current="page"{% endif %}{% endunless%}
                                tabindex="-1">
                                  {{ childlink.title | escape }}
                                  <span class="icon icon-arrow-down" aria-hidden="true"></span>
                              </a>
                              <div class="site-nav__dropdown-grandchild">
                                <ul
                                  id="MenuChildren-{{ parent_index }}-{{ child_index }}"
                                  data-meganav-dropdown>
                                  {% for grandchildlink in childlink.links %}
                                    <li{% if grandchildlink.active %} class="site-nav--active"{% endif %}>
                                      <a
                                        href="{{ grandchildlink.url }}"
                                        class="site-nav__dropdown-link"
                                        data-meganav-type="child"
                                        {% unless request.page_type == 'index' %}{% if grandchildlink.active %}aria-current="page"{% endif %}{% endunless %}
                                        tabindex="-1">
                                          {{ grandchildlink.title | escape }}
                                        </a>
                                    </li>
                                  {% endfor %}
                                </ul>
                              </div>
                            </li>
                          {% else %}
                            <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                              <a
                                href="{{ childlink.url }}"
                                class="site-nav__dropdown-link"
                                data-meganav-type="child"
                                {% if childlink.active %}aria-current="page"{% endif %}
                                tabindex="-1">
                                  {{ childlink.title | escape }}
                              </a>
                            </li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </li>
                  {% else %}
                    <li class="site-nav__item{% if link.active %} site-nav--active{% endif %}">
                      <a
                        href="{{ link.url }}"
                        class="site-nav__link"
                        data-meganav-type="child"
                        {% unless request.page_type == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless%}>
                          {{ link.title | escape }}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
          </div>

        </div>
      </header>
    </div>
  </div>
</div>



{% schema %}
{
  "name": {
    "cs": "Záhlaví",
    "da": "Overskrift",
    "de": "Header",
    "en": "Header",
    "es": "Encabezado",
    "fi": "Ylätunniste",
    "fr": "En-tête",
    "hi": "हैडर",
    "it": "header",
    "ja": "ヘッダー",
    "ko": "헤더",
    "nb": "Header",
    "nl": "Koptekst",
    "pl": "Nagłówek",
    "pt-BR": "Cabeçalho",
    "pt-PT": "Cabeçalho",
    "sv": "Rubrik",
    "th": "ส่วนหัว",
    "tr": "Üstbilgi",
    "vi": "Đầu trang",
    "zh-CN": "标头",
    "zh-TW": "標頭"
  },
  "settings": [
  {
    "type": "header",
    "content": {
      "en": "Top bar"
    }
  },
  {
    "type": "checkbox",
    "id": "show_announcement",
    "label": {
      "cs": "Zobrazit oznámení",
      "da": "Vis meddelelse",
      "de": "Ankündigung anzeigen",
      "en": "Show announcement",
      "es": "Mostrar anuncio",
      "fi": "Näytä ilmoitus",
      "fr": "Afficher l'annonce",
      "hi": "घोषणा दिखाएं",
      "it": "Mostra annuncio",
      "ja": "告知を表示する",
      "ko": "공지 표시",
      "nb": "Vis kunngjøring",
      "nl": "Aankondiging weergeven",
      "pl": "Pokaż ogłoszenie",
      "pt-BR": "Exibir comunicado",
      "pt-PT": "Mostrar comunicado",
      "sv": "Visa tillkännagivande",
      "th": "แสดงประกาศ",
      "tr": "Duyuruyu göster",
      "vi": "Hiển thị thông báo",
      "zh-CN": "显示公告",
      "zh-TW": "顯示公告"
    },
    "default": false
  },
  {
    "type": "text",
    "id": "text",
    "label": {
      "cs": "Text",
      "da": "Tekst",
      "de": "Text",
      "en": "Text",
      "es": "texto",
      "fi": "Teksti",
      "fr": "Texte",
      "hi": "टेक्स्ट",
      "it": "Testo",
      "ja": "テキスト",
      "ko": "텍스트",
      "nb": "Tekst",
      "nl": "Tekst",
      "pl": "Tekst",
      "pt-BR": "Texto",
      "pt-PT": "Texto",
      "sv": "Text",
      "th": "ข้อความ",
      "tr": "Metin",
      "vi": "Văn bản",
      "zh-CN": "文本",
      "zh-TW": "文字"
    },
    "default": {
      "cs": "Tady můžete zadat oznámení",
      "da": "Meddel noget her",
      "de": "Hier Ankündigung platzieren",
      "en": "Free Shipping on All orders Over $75!",
      "es": "Anuncia algo aquí",
      "fi": "Ilmoita jotakin tässä",
      "fr": "Annoncer quelque chose ici",
      "hi": "यहां कुछ घोषित करें",
      "it": "Annuncia qualcosa qui",
      "ja": "ここで告知してください",
      "ko": "여기에 공지하십시오",
      "nb": "Kunngjør noe her",
      "nl": "Kondig hier iets aan",
      "pl": "Ogłoś coś tutaj",
      "pt-BR": "Anuncie algo aqui",
      "pt-PT": "Anunciar algo aqui",
      "sv": "Meddela något här",
      "th": "ประกาศข้อความที่นี่",
      "tr": "Buraya bir duyuru ekleyin",
      "vi": "Thông báo điều gì đó tại đây",
      "zh-CN": "在此处进行公告",
      "zh-TW": "在此公告資訊"
    }
  },
  {
    "type": "color",
    "id": "color_bg",
    "label": {
      "cs": "Panel",
      "da": "Bjælke",
      "de": "Leiste",
      "en": "Bar",
      "es": "Barra",
      "fi": "Palkki",
      "fr": "Barre",
      "hi": "बार",
      "it": "Barra",
      "ja": "バー",
      "ko": "바",
      "nb": "Felt",
      "nl": "Balk",
      "pl": "Pasek",
      "pt-BR": "Barra",
      "pt-PT": "Barra",
      "sv": "Fält",
      "th": "แถบ",
      "tr": "Çubuk",
      "vi": "Thanh",
      "zh-CN": "栏",
      "zh-TW": "橫條"
    },
    "default": "#f3f3f3"
  },
  {
    "type": "color",
    "id": "color_text",
    "label": {
      "cs": "Text",
      "da": "Tekst",
      "de": "Text",
      "en": "Text",
      "es": "texto",
      "fi": "Teksti",
      "fr": "Texte",
      "hi": "टेक्स्ट",
      "it": "Testo",
      "ja": "テキスト",
      "ko": "텍스트",
      "nb": "Tekst",
      "nl": "Tekst",
      "pl": "Tekst",
      "pt-BR": "Texto",
      "pt-PT": "Texto",
      "sv": "Text",
      "th": "ข้อความ",
      "tr": "Metin",
      "vi": "Văn bản",
      "zh-CN": "文本",
      "zh-TW": "文字"
    },
    "default": "#8f8c8c"
  },
  {
    "type": "header",
    "content": {
      "en": "Middle bar"
    }
  },
  {
    "type": "color",
    "id": "middle_bar_bg",
    "label": {
      "en": "Background Color"
    },
    "default": "#ffffff"
  },
  {
    "type": "checkbox",
    "id": "drawer_search_enable",
    "label": {
      "cs": "Povolit vyhledávání",
      "da": "Aktivér søgning",
      "de": "Suche aktivieren",
      "en": "Enable search",
      "es": "Habilitar búsqueda",
      "fi": "Ota hakutoiminto käyttöön",
      "fr": "Activer la recherche",
      "hi": "खोज सक्षम करें",
      "it": "Abilita ricerca",
      "ja": "検索を有効にする",
      "ko": "검색 활성화",
      "nb": "Aktiver søk",
      "nl": "Zoeken inschakelen",
      "pl": "Włącz wyszukiwanie",
      "pt-BR": "Habilitar pesquisa",
      "pt-PT": "Ativar pesquisa",
      "sv": "Aktivera sökning",
      "th": "เปิดใช้การค้นหา",
      "tr": "Arama özelliğini etkinleştir",
      "vi": "Bật tìm kiếm",
      "zh-CN": "启用搜索",
      "zh-TW": "啟用搜索"
    },
    "default": true
  },
  {
    "type": "header",
    "content": {
      "en": "Bottom bar"
    }
  },
    {
      "type": "color",
      "id": "bottom_bar_bg",
      "label": {
        "en": "Background Color"
      },
      "default": "#060001"
    },
    {
      "type": "color",
      "id": "bottom_bar_text_color",
      "label": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "bottom_bar_text_color_hover",
      "label": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": "#e77ae0"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "cs": "Logo",
        "da": "Logo",
        "de": "Logo",
        "en": "Logo",
        "es": "Logo",
        "fi": "Logo",
        "fr": "Logo",
        "hi": "लोगो",
        "it": "Logo",
        "ja": "ロゴ",
        "ko": "로고",
        "nb": "Logo",
        "nl": "Logo",
        "pl": "Logo",
        "pt-BR": "Logotipo",
        "pt-PT": "Logótipo",
        "sv": "Logotyp",
        "th": "โลโก้",
        "tr": "Logo",
        "vi": "Logo",
        "zh-CN": "logo",
        "zh-TW": "商標"
      }
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": {
        "cs": "Šířka vlastního loga",
        "da": "Tilpasset logobredde",
        "de": "Logobreite",
        "en": "Custom logo width",
        "es": "Ancho del logo personalizado",
        "fi": "Mukautetun logon leveys",
        "fr": "Largeur personnalisée du logo",
        "hi": "कस्टम लोगो की चौड़ाई",
        "it": "Larghezza logo personalizzato",
        "ja": "ロゴの幅をカスタマイズする",
        "ko": "사용자 지정 로고 폭",
        "nb": "Tilpasset logobredde",
        "nl": "Aangepaste logo-breedte",
        "pl": "Niestandardowa szerokość logo",
        "pt-BR": "Largura do logotipo personalizado",
        "pt-PT": "Largura de logótipo personalizada",
        "sv": "Anpassad logotypsbredd",
        "th": "ความกว้างของโลโก้ที่กำหนดเอง",
        "tr": "Özel logo genişliği",
        "vi": "Chiều rộng logo tùy chỉnh",
        "zh-CN": "自定义 logo 宽度",
        "zh-TW": "自訂商標寬度"
      },
      "min": 50,
      "max": 260,
      "step": 5,
      "unit": "px",
      "default": 140
    },
    {
      "type": "link_list",
      "id": "main_menu_link_list",
      "label": {
        "cs": "Nabídka",
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "hi": "मेनू",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "tr": "Menü",
        "vi": "Menu",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "default": "main-menu",
      "info": {
        "cs": "Nabídka se sbalí do nabídkového tlačítka v případě, že odkazy jsou příliš dlouhé. [Další informace](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
        "da": "Menuen komprimeres til en menuknap, hvis linkene er for lange. [Få mere at vide](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
        "de": "Wenn Links zu lang sind, wird das Menü eingeklappt und als Menü-Schaltfläche angezeigt. [Mehr Informationen](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
        "en": "The menu will collapse into a menu button if links are too long. [Learn more](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
        "es": "El menú se contraerá en un botón de menú si los enlaces son demasiado largos. [Más información](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
        "fi": "Valikko kutistuu valikkopainikkeeksi, jos linkit ovat liian pitkiä. [Lisätietoja](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
        "fr": "Le menu sera réduit à un bouton de menu si les liens sont trop longs. [En savoir plus](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
        "hi": "यदि लिंक बहुत लंबे हैं, तो मेनू एक मेनू बटन में संक्षिप्त हो जाएगा. [अधिक जानें](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
        "it": "Il menu si ridurrà a un pulsante menu se i link sono troppo lunghi. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
        "ja": "リンクが長すぎる場合、メニューがメニューボタンに折りたたまれます。[詳しくはこちら](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
        "ko": "링크가 너무 길면 메뉴가 메뉴 버튼으로 축소됩니다. [자세히 알아보기](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
        "nb": "Menyen slås sammen til en menyknapp hvis koblingene er for lange. [Finn ut mer](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
        "nl": "Het menu zal inklappen tot een menuknop als de links te lang zijn. [Meer informatie](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
        "pl": "Menu zwinie się do postaci przycisku Menu, jeśli linki będą zbyt długie. [Dowiedz się więcej](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
        "pt-BR": "O menu ficará oculto em um botão de menu se os links forem longos demais. [Saiba mais](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
        "pt-PT": "O menu será fechado num botão de menu se as ligações forem demasiado compridas. [Saiba mais](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
        "sv": "Menyn kommer att kollapsa till en menyknapp om länkarna är för långa. [Läs mer](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
        "th": "เมนูนี้จะย่อลงเป็นปุ่มเมนูในกรณีที่ลิงก์ยาวเกินไป [ดูข้อมูลเพิ่มเติม](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
        "tr": "Bağlantılar çok uzun olduğunda menü daralarak menü düğmesine dönüşür. [Daha fazla bilgi edinin](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
        "vi": "Menu sẽ được thu nhỏ thành nút menu nếu liên kết quá dài. [Tìm hiểu thêm](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
        "zh-CN": "如果链接过长，菜单将折叠成菜单按钮。[了解详细信息](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
        "zh-TW": "如果連結太長，選單會收合為選單按鈕。[深入瞭解](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)"
      }
    }
  ]
}
{% endschema %}
