<div class="highlights">
  <div class="container">
    <div class="left-col">
      <img src="{{ section.settings.image1 | img_url: '638x482' }}" class="cell one" alt="{{ section.settings.image1 }}" >
      <div class="cell two">
        <h4 class="heading">{{ section.settings.image1_heading }}</h4>
        <h2 class="subheading">{{ section.settings.image1_subheading }}</h2>
        <p class="description">{{ section.settings.image1_description }}</p>
        <a href="{{ section.settings.button_url }}">
          <div class="button">{{ section.settings.button_text }}</div>
        </a>
      </div>
    </div>
    <div class="right-col">
      <a href="{{ section.settings.image_2_link }}">
        <div class="cell one">
          <img src="{{ section.settings.image2 | img_url: '500x361' }}" alt="{{ section.settings.image2 }}" >
          <div class="cell-text">{{ section.settings.image_2_link_text }}</div>
          <div class="overlay"></div>
        </div>        
      </a>
      <a href="{{ section.settings.image_3_link }}">
        <div class="cell two">
          <img src="{{ section.settings.image3 | img_url: '500x361' }}" alt="{{ section.settings.image3 }}" >
          <div class="cell-text">{{ section.settings.image_2_link_text }}</div>
          <div class="overlay"></div>
        </div>        
      </a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Highlights",
    "settings": [
      {
        "id": "image1",
        "type": "image_picker",
        "label": "Image 1"
      },
      {
        "id": "image1_heading",
        "type": "text",
        "label": "Image 1 Heading",
        "default": "hot collection"
      },
      {
        "id": "image1_subheading",
        "type": "text",
        "label": "Image 1 Subheading",
        "default": "new trend for women"
      },
      {
        "id": "image1_description",
        "type": "textarea",
        "label": "Image 1 Description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mollis neque eu erat aliquet posuere. Curabitur quis placerat nulla, nec vulputate arcu."
      },
      {
        "id": "button_url",
        "type": "url",
        "label": "Button URL"
      },
      {
        "id": "button_text",
        "type": "text",
        "label": "Button Text",
        "default": "Shop Now"
      },
      {
        "id": "image2",
        "type": "image_picker",
        "label": "Image 2"
      },
      {
        "id": "image_2_link_text",
        "type": "text",
        "label": "Image 2 Link Text",
        "default": "View Collection"
      },
      {
        "id": "image_2_link",
        "type": "url",
        "label": "Image 2 Link"
      },
      {
        "id": "image3",
        "type": "image_picker",
        "label": "Image 3"
      },
      {
        "id": "image_3_link_text",
        "type": "text",
        "label": "Image 3 Link Text",
        "default": "View Collection"
      },
      {
        "id": "image_3_link",
        "type": "url",
        "label": "Image 3 Link"
      }
    ],
    "presets": [
      {
        "name": "Highlights",
        "category": "Highlights section"
      }
    ]
  }
{% endschema %}