<div class="highlights">
  <div class="container">
    <div class="left-col">
      <img src="{{ section.settings.image1 | img_url: '638x482' }}" class="cell one" alt="{{ section.settings.image1 }}" >
      <div class="cell two">
        <h4 class="heading">{{ section.settings.image1_heading }}</h4>
        <p class="description">{{ section.settings.image1_description }}</p>
      </div>
    </div>
    <div class="right-col">
      <img src="{{ section.settings.image2 | img_url: '500x361' }}" class="cell one" alt="{{ section.settings.image2 }}" >
      <img src="{{ section.settings.image3 | img_url: '500x361' }}" class="cell two" alt="{{ section.settings.image3 }}" >
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Highlights",
    "settings": [
      {
        "id": "image1",
        "type": "image_picker",
        "label": "Image 1"
      },
      {
        "id": "image2",
        "type": "image_picker",
        "label": "Image 2"
      },
      {
        "id": "image1_heading",
        "type": "text",
        "label": "Image 1 Heading",
        "default": "hot collection"
      },
      {
        "id": "image1_description",
        "type": "textarea",
        "label": "Image 1 Description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mollis neque eu erat aliquet posuere. Curabitur quis placerat nulla, nec vulputate arcu."
      },
      {
        "id": "image3",
        "type": "image_picker",
        "label": "Image 3"
      }
    ],
    "presets": [
      {
        "name": "Highlights",
        "category": "Highlights section"
      }
    ]
  }
{% endschema %}