{%- style -%}
  {%- assign promo_1_image = section.settings.promo_image1 -%}
  {%- assign promo_2_image = section.settings.promo_image2 -%}

  .promo > .one {
    background-image: url('{{ promo_1_image | img_url: '695x395' }}');
    height: 395px;
    background-size: cover;
  }

  .promo > .two {
    background-image: url('{{ promo_2_image | img_url: '695x395' }}');
    height: 395px;
    background-size: cover;
  }

{%- endstyle -%}

<div class="promo">
  <div class="one">
    <div class="overlay"></div>
    <img class="triangle points_up" src="https://cdn.shopify.com/s/files/1/0459/7501/1480/files/triangle_pointing_up.png?v=1602317096" alt="triangle_points_up">
    <div class="text">
      <div class="top">
        <h1>{{ section.settings.promo1_heading }}</h1>
        <span>off</span>
      </div>
      <div class="bottom">
        <h2>{{ section.settings.promo1_subheading }}</h2>
      </div>
    </div>
  </div>
  <div class="two">
    <div class="overlay"></div>
    <img class="triangle points_down" src="https://cdn.shopify.com/s/files/1/0459/7501/1480/files/triangle_pointing_down.png?v=1602318519" alt="triangle_points_down">
    <div class="text">
      <div class="top">
        <h1>{{ section.settings.promo2_heading }}</h1>
      </div>
      <div class="bottom"></div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Promo",
    "settings": [
      {
        "type": "header",
        "content": {
          "en": "Promo 1 (left)"
        }
      },
      {
        "id": "promo_image1",
        "type": "image_picker",
        "label": "Promo 1 Image"
      },
      {
        "id": "promo1_heading",
        "type": "text",
        "label": "Promo 1 Heading",
        "default": "70%"
      },
      {
        "id": "promo1_subheading",
        "type": "text",
        "label": "Promo 1 Subheading",
        "default": "Tao Kinben Na?"
      },
      {
        "type": "header",
        "content": {
          "en": "Promo 2 (right)"
        }
      },
      {
        "id": "promo_image2",
        "type": "image_picker",
        "label": "Promo 2 Image"
      },
      {
        "id": "promo2_heading",
        "type": "text",
        "label": "Promo 2 Heading",
        "default": "Amr Chehara Kharap Na"
      },
      {
        "id": "promo2_subheading",
        "type": "text",
        "label": "Promo 2 Subheading",
        "default": "Chehara Dia ki hoy"
      }
    ],
    "presets": [
      {
        "name": "Promo",
        "category": "Promo section"
      }
    ]
  }
{% endschema %}
