{%- style -%}
  {%- assign background_image = section.settings.testimonial_background -%}

  .testimonial {
    background-image: url('{{ background_image | img_url: '1394x472' }}');
    height: 472px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

{%- endstyle -%}

<div class="testimonial">
  <div class="content">
    <img class="quote_icon" src="{{ section.settings.icon | img_url: '23x19' }}" alt="{{ section.settings.icon }}">
    <p class="quote">&quot;{{ section.settings.quote }}&quot;</p>
    <img class="author_photo" src="{{ section.settings.author_photo | img_url: '66x66' }}" alt="{{ section.settings.author_photo }}">    
  </div>
</div>

{% schema %}
  {
    "name": "Testimonial",
    "settings": [
      {
        "id": "testimonial_background",
        "type": "image_picker",
        "label": "Background Image"
      },
      {
        "id": "icon",
        "type": "image_picker",
        "label": "Icon"
      },
      {
        "id": "quote",
        "type": "text",
        "label": "Quote",
        "default": "Nunc vulputate odio vitae sapien euismod rhoncus. Vestibulum ante orci, elemet molestie sed, efficitur a augue. Quisque placerat laoreet lorem"
      },
      {
        "id": "author_photo",
        "type": "image_picker",
        "label": "Quote Author Photo"
      }
    ],
    "presets": [
      {
        "name": "Testimonial",
        "category": "Testimonial section"
      }
    ]
  }
{% endschema %}